/Tema_3_08_ClasificacionBInaria_Propuesto.ipynb
/Tema_3_3_Javier_Hidalgo_CLASIFICACIÓN MULTICLASE.ipynb
/Tema_3_5_Matplotlib.ipynb
/Tema_3_6_Intro_DataMining_TitanicDataSet.ipynb
/Tema_3_7_ClasificacionBinaria.ipynb
/TITANIC_mio.ipynb
/titanic_solucion.csv